
<h1> Plump </h1>

<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Skapa spel
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-create-game></app-create-game>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Gå med i spel
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-join-game></app-join-game>
  </mat-expansion-panel>

</mat-accordion>

<div class="copyright-container">
  <i class="material-icons">copyright</i> <p>WillsonGullis</p>
</div>