mat-panel-title {
    justify-content: center !important;
    padding-left: 12px;
}
.copyright-container {
	text-align: center;
	position: absolute;
 	bottom: 0;
 	width: 100%;
 	height: 2.5rem;
 	margin-left: -5%;
 	i {
 		margin-right: 3px;
 		font-size: 14px;
 	}
 	p {
 		display: contents;
 	}
}