<div class="host-container">
	<button *ngIf="gameNr==0" mat-raised-button (click)="startGame()">Starta spelet</button>
	<button *ngIf="!(gameNr==0)" mat-raised-button (click)="startRound()">Starta rundan</button>
</div>
