<form (ngSubmit)="joinGame()" class="jg-input-container">

  <mat-form-field>
    <mat-label>Spelets namn</mat-label>
    <input matInput [(ngModel)]="gameName" name="name" autocomplete="off" placeholder="T.ex. Kul med plump">
  </mat-form-field>

  <button mat-raised-button [disabled]="gameName === ''">Gå med i spelet</button>

</form>
