<app-no-game *ngIf="noGame" [name]="gameName"></app-no-game>

<app-player-name (playerNameEvent)="addPlayerName($event)" *ngIf="!noGame && !player && !loading"></app-player-name>

<div *ngIf="!noGame && !loading && player">
	<app-game-status [status]="gameStatus"></app-game-status>

	<app-players *ngIf="game.gameNr === 0" [players]="players"></app-players>
	<app-pick-stick *ngIf="game.gameNr !== 0 && game.round === 0" 
									[players]="players" 
									[dealer]="game.dealer"
									[playerTurn]="game.playerTurn"
	></app-pick-stick>

	<app-player-control *ngIf="game.gameNr !== 0" 
											[round]="game.round"
											[isPlayerTurn]="isPlayerTurn"
											[cards]="player.cards"
											(addPlayerStickEvent)="addPlayerStick($event)" 
	></app-player-control>

	<app-host (startGameEvent)="updateGameNr($event)" (startRoundEvent)="updateRoundNr($event)" [gameNr] = "game.gameNr" *ngIf="player.host && game.gameNr === 0 || player.host && (players.length == game.playerTurn)"></app-host>
</div>

<p *ngIf="loading"> Laddar... </p>