<div *ngIf="players.length > 0" class="pick-stick-container">
	<p *ngIf="!(players.length == playerTurn)"> {{players[playerTurn].name}}s tur att välja stick </p>
	<p *ngIf="(players.length == playerTurn)">Väntar på att värden startar spelet</p>
</div>

<div class="pick-stick-container">
	<mat-card>
		<div class="col">
			<mat-header>
				<mat-card-title class="title">Spelare</mat-card-title>
			</mat-header>
			<p *ngFor="let player of players; let i = index;">
				{{player.name}}
				<span *ngIf="!player.status"> (Offline)</span>
				<span *ngIf="player.host"> (Värd)</span>
				<span *ngIf="i === dealer"> (Dealer) </span>
			</p>
		</div>
		<div class="col">
			<mat-header>
				<mat-card-title class="title">Antal stick</mat-card-title>
			</mat-header>
			<p *ngFor="let player of players; let i = index;">
				<span *ngIf="playerTurn<i" >Väntar...</span>
				<span *ngIf="playerTurn==i" >Väljer...</span>
				<span *ngIf="playerTurn>i"> {{player.stick}}</span>
			</p>
		</div>
	</mat-card>
</div>
