.players-title {
	color: burlywood;
	text-align: center;
}
.players-container {
	display: flex;
 	align-items: center;
 	justify-content: center;
 	mat-card {
 		width: 40%;
 	}
 	p {
 		text-align: center;
 	}
}