<div class="players-container">
	<mat-card>
		<mat-header>
			<mat-card-title class="players-title">Spelare</mat-card-title>
		</mat-header>
		<p *ngFor="let player of players">
			{{player.name}}
			<span *ngIf="!player.status"> (Offline)</span>
			<span *ngIf="player.host"> (Värd)</span> 
		</p>
	</mat-card>
</div>