/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
	margin: 0; 
	font-family: Roboto, "Helvetica Neue", sans-serif; 
	padding: 5%;
}

h1, h2 {
	text-align: center;
	color: burlywood;
}