<form (ngSubmit)="addGame()" class="cg-input-container">

  <mat-form-field>
    <mat-label>Spelets namn</mat-label>
    <input matInput [(ngModel)]="gameName" name="name" autocomplete="off" placeholder="T.ex. Kul med plump">
  </mat-form-field>

  <button mat-raised-button [disabled]="gameName === ''">Skapa</button>

</form>