<h1> Plump </h1>

<div class="player-name-container">
	<form (ngSubmit)="joinGame()" class="jg-input-container">

	  <mat-form-field>
	    <mat-label class="choose-name">Välj ett namn</mat-label>
	    <input matInput [(ngModel)]="playerName" name="name" autocomplete="off" placeholder="T.ex. Kalle">
	  </mat-form-field>

		<div class="btn-center">
	  	<button mat-raised-button [disabled]="!playerName">Gå med i spelet</button>
		</div>
	</form>

</div>