.stick-container {
	position: absolute;
	margin-top: 250px;
	display: flex;
 	align-items: center;
 	justify-content: center;
 	width: 90%;
 	mat-form-field {
 		width: 80px;
 		margin-right: 10px;
 	}
}