<h2> Dina kort </h2>

<app-player-cards (chosenCardEvent)="chosenCard = $event" [cards]="cards"></app-player-cards>

<div *ngIf="isPlayerTurn">
	<form (ngSubmit)="addStick()" class="stick-container">
		<mat-card >
			  <mat-form-field>
			    <mat-label>Antal stick</mat-label>
			    <input matInput [(ngModel)]="stickNr" name="name" type="number" min="0" autocomplete="off">
			  </mat-form-field>
			  <button mat-raised-button>Klar</button>
		</mat-card>

	</form>
</div>
<div *ngIf="round !== 0">
	<div class="stick-container">
		<button mat-raised-button [disabled]="!chosenCard"> Lägg kort </button>
	</div>
</div>
